<!DOCTYPE html>
<html>
<head>
	<title>User</title>
</head>
<body><center>

	<table border="2" cellpadding="2">

			<h1>User</h1>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Aadhar number</th>
				<th>License number</th>
				<th>Pancard number</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Phone number</th>

			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>

			</tr>
		</center>
	</table>

</body>
</html>