<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body><center>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
             <tr>
                <td>Name</td>
                <td><select name="ee">
                    {% for i in u %}
                        <option value="{{ i.u_id }}">{{ i.username }}</option>
                    {% endfor %}
                </select> </td>
            </tr>
            <tr>
                <td>Bike Name</td>
                <td><select name="ef">
                    {% for i in v %}
                        <option value="{{ i.b_id }}">{{ i.name }}</option>
                    {% endfor %}
                </select> </td>
            </tr>
            <tr>
                <td>Date</td>
                <td><input type="date" name="date"></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><input type="time" name="time"> </td>
            </tr>
            <tr>
                <td>Document</td>
                <td><input type="file" name="img"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Request"></td>
            </tr>

        </table>
    </form>
  </center>
</body>
</html>