<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Request</title>
</head>


<body><center>

	<table border="2" cellpadding="2">

			<h1>Two wheeler</h1>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Document</th>
				<th>Username</th>
                <th>Bike Name</th>
                <th>Status</th>
			</tr>
        {% for i in x %}
			<tr>
				<td>{{ i.date }}</td>
				<td>{{ i.time }}</td>
				<td>{{ i.document }}</td>
				<td>{{ i.u_id }}</td>
                <td>{{ i.b_id }}</td>
                <td>{{ i.status }}</td>
			</tr>
        {% endfor %}
		</center>
	</table>

</body>
</html>
