{% extends 'temp/user.html' %}
{% block base %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body><center>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
             <tr>
                <td>Name</td>
<td><input type="text" value="{{ u.username }}"></td>
                 {#                <td><select name="ee" required="">#}
{#                    {% for i in u %}#}
{#                        <option value="{{ i.u_id }}">{{ i.username }}</option>#}
{#                    {% endfor %}#}
{#                </select> </td>#}
            </tr>
            <tr>
                <td>Bike Name</td>
                <td><input type="text" value="{{ p.name }}"></td>
{#                <td><select name="ef"  required="">#}
{#                    {% for i in p %}#}
{#                        <option value="{{ i.b_id }}">{{ i.name }}</option>#}
{#                    {% endfor %}#}
{#                </select> </td>#}
            </tr>
{#        <tr>#}
{#            <td>Bike Name</td>#}
{#            <td><input type="text" name="bike" value="{{ i.name }}"></td>#}
{#        </tr>#}
            <tr>
                <td>Date</td>
                <td><input type="date" name="date"  required=""></td>
            </tr>
            <tr>
                <td>Time</td>
                <td><input type="time" name="time"  required=""> </td>
            </tr>
            <tr>
                <td>Document</td>
                <td><input type="file" name="img"  required=""></td>
            </tr>
            <tr>
                <td><input type="submit" value="Request"></td>
            </tr>

        </table>
    </form>
  </center>
</body>
</html>

{% endblock %}